<h1><%= @info.title %></h1>

<p><%= @info.body %></p>

<div>
<%= link_to "Edit", edit_info_path(@info), :class => "btn btn-warning" %>

<%= link_to "Destroy", info_path(@info), :class => "btn btn-danger",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>

</div>