<h1><%= @info.title %></h1>

<p><%= @info.body %></p>

<div>
<%= link_to "Düzenle", edit_info_path(@info), :class => "btn btn-warning" %>
</br>
<%= button_to 'Sil', info_path(@info), method: :delete, :class => "btn btn-danger", :onclick => "return confirm('Silmek istediğinize emin misiniz?')" %>


</div>